.border-pane {
    -fx-border-color: Black;
    -fx-border-width: 2;
}

.background-pane {
    -fx-background-color: linear-gradient(to bottom right,  dimgrey, whitesmoke);
}

.admin-panel {
    -fx-background-color: linear-gradient(to bottom right, #2F3F89, #9231B5);
}

.view-pane {
    -fx-background-color: beige;
}

.function-pane {
    -fx-background-color: white;
}

.function-press {
    -fx-background-color: empty;
}

.function-press:hover {
    -fx-background-color: #6A5ACD;
}

.function-press:pressed {
    -fx-background-color: #4682B4;
}

.similar-field {
    -fx-background-color: beige;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
/**
BUTTON
 */
.button {
    -fx-background-color: empty;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
.button:hover {
    -fx-background-color: #87CEFA ;
}
.button:pressed {
    -fx-background-color: #FFD700;
}

/**
TABLE VIEW
 */
.table-view {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: empty;
}

.table-view .column-header {
    -fx-background-color:  beige;
}

.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .cell{
    -fx-cell-size: 35;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: CENTER;

}
