.stage-view {
    -fx-background-color: linear-gradient(to bottom right,  dimgrey, whitesmoke);
    -fx-border-color: black;
    -fx-border-width: 2;
}

.similar-field {
    -fx-background-color: beige;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
/**
BUTTON
 */
.black-button {
    -fx-background-color: empty;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.black-button:hover {
    -fx-background-color: #87CEFA ;
}
.black-button:pressed{
    -fx-background-color: #FFD700;

}

/**
TABLE VIEW
 */
.table-view {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: empty;
}

.table-view .column-header {
    -fx-background-color:  beige;
}

.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}